body {
  margin: 0px;
  color: white;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.aot {
  background-image: url("./img/header.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 2px 18px 4px rgb(169, 132, 72);
  background-color:rgba(0, 0, 0, 0.705)
}
.header_logo {
  height: 64px;
  width: 64px;
}
.header_logo:hover {
  filter: drop-shadow(0px 0px 20px red);
}

.nav_links {
  margin-left: 44px;
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_links:hover {
  color: rgb(169, 132, 72);
  border: 0.5px solid rgb(169, 132, 72);
  border-radius: 8px;
  padding: 8px;
  transition: 0.5s;
}
.header-logos {
  width: 22px;
  height: 22px;
  margin: 0px;
  margin-left: 22px;
}
.header-logos:hover {
  filter: drop-shadow(0px 0px 4px white);
  cursor: pointer;
}
h1 {
  font-size: 56px;
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  font-size: 18px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.button {
  font-size: 12px;
  margin-top: 22px;
  color: white;
  text-decoration: none;
  background-color: rgb(169, 132, 72);
  padding: 22px 32px;
}
.button:hover {
  background-color: rgb(195, 140, 52);
}
/* new section starts */
.link-section {
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:22px;
  
}
.link-section img {
  height: 200x;
  width: 200px;
  margin-top: 4px;
  object-fit: cover;
}
.link-section img:hover {
  filter: drop-shadow(8px 8px 12px rgb(169, 132, 72));
  transition: 0.5s;
}
.links {
  color: rgb(169, 132, 72);
  font-size: 22px;
  text-decoration: none;
  display: flex;
}
/* new section starts */
.ticket-section {
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  height: 300px
  
}
strong {
    font-size: 22px;
}
.ticket-section img {
    
    height: 300px;
    width: 300x;
}
.text-div {
  padding: 44px;
  flex:1;
}
.line {
  height: 200px;
  width: 1px;
  background-color: white;
}
.button-container {
    width: 300px;
    display: flex;
    justify-content: center;;
} 
/* new section starts */
.text-container {
    height: 200px;
    color:  rgb(195, 140, 52);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
}
.video-container {
    background-image: url("./img/bottom.png");
    height:700px;
    background-size:cover;
    background-position: center;
    object-fit: cover;
}
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 80px 84px;

}
h3 {
    font-size: 24px;
}
.footer-images {
    height: 44px;
    width: 44px
}
.image-input-button-section {
    display: flex;
    justify-content: center;
    gap: 44px;

}
.input-button-div {
  display: flex;
  margin-top: 44px;
}
.input-button-div:hover {

}
input {
   padding: 12px 24px;
   border-right: none;
   border: none;
   color: white;
}
input::placeholder {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.488);

}
input:focus {
    outline: none;  
    background-color: black;
    box-shadow: 0px 0px 12px 1px rgb(169, 132, 72);
    transition: all 1s;
}
button {
    padding: 14px 44px;
    border-left: none;
    background-color:rgb(169, 132, 72) ;
    color: white;
    border: none;
}
button:hover {
    cursor: pointer;
    background-color:  rgb(195, 140, 52);

}
@media (max-width: 920px) {
    .hide_header-elements {
        display: none;
    }
    footer {
        padding: 80px 22px;
    }
    h3 {
        font-size: 16px;
    }
    .footer-images {
        height: 32px;
        width: 32px
    }
    input {
        padding: 8px 14px;
        border-right: none;
        border: none;
        color: white;
     }
     button {
        padding: 8px 34px;
        border-left: none;
        background-color:rgb(169, 132, 72) ;
        color: white;
        border: none;
    }
    .ticket-section {
        background-color: rgb(41, 41, 41);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 800px
        
      }
      .line {
        height: 1px;
        width: 500px;
      }
      .text-div {
        padding: 80px 44px;
        
      }
      .button-container {
        width: 300px;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
     }  
     .ticket-section img {
    
        height: 300px;
        width: 100%;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
      
}




@media (max-width: 720px) {
    .link-section img {
        height: 125x;
        width: 125px;
        margin-top: 4px;
        object-fit: cover;
      }
      .link-section {
        height: 300px;
      }
      .links {
        font-size: 16px;
        
      }
      footer {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 80px 84px;
    
    }
    .input-button-div {
        display: flex;
        flex-direction: column;
        margin-top: 44px;
      }
      h3 {
        text-align: center;
        margin-bottom: 22px;
      }

}


@media (max-width: 550px) {
    h1 {
        font-size: 32px;

    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 14px;
    }
    .link-section {
        height: 600px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap:22px;
      }
      header {
        padding: 20px 25px;
      }
      footer {
        padding: 44px 24px;
      }
      .line {
        width: 300px;
      }
}